html,
body,
#root,
.extended-container,
.container {
  height: 100%;
}
.App {
  font-family: sans-serif;
  text-align: center;
}

.extended-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100% - 100px);
}

.ball {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  background-color: red;
}
